<h1>Odin Flights!</h1>

<%= form_with(url: '/flights', method: "get") do |form| %>

  <div class="dropdowns">

    <div class="flights">  
      <p>Departing flight</p>
      <%= form.collection_select :departure_id, @airports, :id, :code %>
    </div>  

    <div class="flights">
      <p>Arrival flight</p>
      <%= form.collection_select :arrival_id, @airports, :id, :code %>
    </div>

    <p>Number of passengers (1-4)</p>
    <select name="passengers_num">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <p>Day of this month</p>
    <%# https://apidock.com/ruby/DateTime/strftime %>

    <%= form.select :start_date, Date.today..Date.today + 5 %>

    <div>
      <%= form.submit 'Search'%>
    </div>

  </div>
 
<% end %>

<%# search results will need to be in their own form with radio buttons %>
<h2>Search Results</h2>
<div class="search-results">
  <%= render "selection_form" %>
</div>