<h1>Odin Flights!</h1>

<div class="search">
  <%= image_tag "magnify.svg", height: 20 %>
  <%# <img src="../images/magnify.svg" alt="search icon" height = 25px width = auto /> %>
  <%= form_with url: "/", method: :get do |form| %>
  <%#= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
  <% end %>
</div>

<div class="dropdowns">

  <h4>Departing flight</h4>
  <select name="departure_id">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.code %></option>
    <% end %>
  </select>

  <h4>Arrival flight</h4>
  <select name="departure_id">
    <%= @airports.each do |airport| %>
      <option value="<%= airport.id %>"><%= airport.code %></option>
    <% end %>
  </select>

  <h4>Number of passengers (1-4)</h4>
  <select name="passengers_id">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
  </select>

  <%# Fix ASAP %>
  <h4>Date</h4>
  <select name="date_id">
      <option value="date">date</option>
  </select>

</div>
