<h1>Odin Flights!</h1>

<%= form_with(url: '/flights', method: "get") do |form| %>

  <div class="dropdowns">

    <div class="flights">  
      <%= form.label :departure_id, "Departing flight:" %>
      <%= form.collection_select :departure_id, @airports, :id, :code %>
    </div>  

    <div class="flights">
      <%= form.label :arrival_id, "Arrival flight:" %>
      <%= form.collection_select :arrival_id, @airports, :id, :code %>
    </div>

    <div class="flights">
      <%= form.label :passengers_num, "# of passengers (1-4):" %>
      <%= form.select :passengers_num, ["1", "2", "3", "4"] %>
    </div>

    <div class="flights">
      <%= form.label :start_date, "Upcoming days:" %>
      <%= form.select :start_date, Date.today..Date.today + 5 %>
    </div>

    <div>
      <%= form.submit 'Search'%>
    </div>

  </div>
 
<% end %>

<%# search results will need to be in their own form with radio buttons %>
<h2>Search Results</h2>
<div class="search-results">
  <%= render "selection_form" %>
</div>