<h1>Odin Flights!</h1>

<%= form_with(url: '/', method: "get") do |form| %>

  <div class="dropdowns">

    <p>Departing flight</p>
    <select name="departure_id">
      <%= @airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.code %></option>
      <% end %>
    </select>

    <p>Arrival flight</p>
    <select name="arrival_id">
      <%= @airports.each do |airport| %>
        <option value="<%= airport.id %>"><%= airport.code %></option>
      <% end %>
    </select>

    <p>Number of passengers (1-4)</p>
    <select name="passengers_id">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <%# https://apidock.com/ruby/DateTime/strftime %>
    <p>Day of this month</p>
    <%= form.select(:start, @day_options) %>

    <div>
      <%= form.submit 'Search'%>
    </div>

  </div>
 
<% end %>

<%# search results will need to be in their own form with radio buttons %>
<h2>Search Results</h2>
