<h1>New booking</h1>
  <section>
  <h2>Itinerary</h2> 
    <p>
      <%= "Flight ##{@selected_flight.id}, departing from #{@selected_flight.departure_airport.code} and 
        flying to #{@selected_flight.arrival_airport.code}
        on #{@selected_flight.start_date} at #{@selected_flight.start_time.strftime("%I:%M%p")}" %>
    </p> 
    <p>
      <%= "Passenger count: #{@passengers_count}" %>
    </p>
  </section>  

<%= form_with model: @booking do |f| %>
 
  <div class="booking-form" data-controller="passenger">
    <h2>Passenger info</h2> 

    <button data-action="click->passenger#addpass">Add passenger!</button>

    <hr>
    <div class="passengers" >
      <%# fields to enter info for each passenger %>
      <% i = 1 %>
      <%= f.fields_for :passengers do |passengers_data| %>
          <div id="newpass">
            <label class="label">
              <%= "Passenger #{i}" %><br/>
            </label>
            <div>
              <p>
                <%= passengers_data.text_field :name, placeholder: "Passenger's name", required: true %>
              </p>
            </div>
            <div class="field">
              <p>
                <%= passengers_data.email_field :email, placeholder: "name@example.com", required: true %>
              </p>
            </div>
          </div>  
        <% i += 1%>

        <template id="template">
          <div>
            <label class="label">
              <%= "Passenger #{i+1}" %><br/>
            </label>
            <div>
              <p>
                <%= passengers_data.text_field :name, placeholder: "Passenger's name", required: true %>
              </p>
            </div>
            <div class="field">
              <p>
                <%= passengers_data.email_field :email, placeholder: "name@example.com", required: true %>
              </p>
            </div>
          </div>  
        </template>

      <% end %>
    </div>

    <%= f.hidden_field :flight_id, value: params[:flight_id] %>

    <%= f.submit 'Purchase Ticket' %>

  </div>
<% end %>
