<h1>New booking</h1>
  <section>
  <h2>Itinerary</h2> 
    <p>
      <%= "Flight ##{@selected_flight.id}, departing from #{@selected_flight.departure_airport.code} and 
        flying to #{@selected_flight.arrival_airport.code}
        on #{@selected_flight.start_date} at #{@selected_flight.start_time.strftime("%I:%M%p")}" %>
    </p> 
    <p>
      <%# <%= "Passenger count: #{@passengers_count}" %>
    </p>
  </section>  

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>
  
  <%# Using a tag helper to use an instance variable (@passengers_count) to create an HTML attribute 
  which helps our JS create the correct # of passenger fields inside this div %>
  <%= tag.div data: { controller: "passenger", 
    passenger_passnum_value: @passengers_count,
    passenger_target: "passDiv",
    passenger_concealed_class: "concealed"
    }, class: "booking-form" do %>
    
    <h2>Passenger info</h2> 
    <button data-action="click->passenger#addPass">Add passenger!</button>
    <button 
      class="removeButton"
      data-action="click->passenger#removePass" 
      data-passenger-target="removeButton"
      >Remove passenger!
    </button>
    <hr>
    
    <%# fields to enter info for each passenger %> 
    <template data-passenger-target="passengerForm" >
      <%# instantiating (not saving) already-associated-objects (X passengers with the booking) %>
      <%= f.fields_for :passengers, @booking.passengers.build, child_index: 'PASSENGER_RECORD' do |passengers_attributes| %>
        <div id="newpass">
          <%= passengers_attributes.label :name %>
          <%= passengers_attributes.text_field :name, placeholder: "Passenger's name", required: true %>
          <%= passengers_attributes.label :email %>
          <%= passengers_attributes.email_field :email, placeholder: "name@example.com", required: true %>
        </div> 
      <% end %>
    </template>
     
  <% end %>

  <%= f.submit 'Purchase Ticket' %>

<% end %>
